@import url(stylesheet.css);

.inner {
  position: relative;
  max-width: 1024px;
  padding: 20px 10px;
  margin: 0 auto;
}

table {
  border: 1px solid #373737;
  margin-bottom: 1px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 2px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 2px;
  border: 1px solid #373737;
 }
